ipykernel
python-dotenv
langchain
langgraph
langchain-community
langchain-openai
pypdf
faiss-cpu

# for coherereranker
langchain_cohere

# for crossencoderreranker
sentence-transformers

# for flashranker
flashrank

# contextualreranker
langchain-contextual